.header-page {
  // max-width: 1600px;
  // margin-left: auto;
  // margin-right: auto;
  border-bottom: 1px solid $header-border-color;

}

.site-nav {
  display: flex;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
    // margin-right: 96px;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts {

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;

  }

  @media screen and (min-width: 1200px) {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    &__item {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__item:not(:last-child) {
      margin-top: 10px;
    }
  }


  &__icon {
    margin-right: 10px;
    // fill: $secondary-text-color;
    // @include transition (fill);

    // &:hover,
    // &:focus,
    // &:active {
    //   fill: $accent-color;
    // }

  }

  &__link {
    color: $secondary-text-color;
    fill: $secondary-text-color;
    @include transition (color);

    &:hover,
    &:focus,
    &:active {
      color: $accent-color;
      fill: $accent-color;
    }

  }

  @media (max-width: 1199px) {
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      text-decoration: none;
    }
  }

  @media screen and (min-width: 1200px) {
    &__link {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 32px 0;
      max-width: 161px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
    }
  }

  // &__text {
  //   margin: 0;
  // }

}

.site-nav__link {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  text-decoration: none;
  @include transition (color);

  &--current {
    position: relative;
    color: $accent-color;
  }

  &--current::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background-color: $accent-color;
    border-radius: 2px;
    bottom: 0;
  }

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
    fill: $accent-color;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
