.section-team {
  background-color: $bgr-color;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
}

.team-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list__text {
  margin-top: 0;
  margin-bottom: 16px;
  color: $secondary-text-color;
}

.team-list__image {
  display: block;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  fill: $bgr-icon;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $fone-color;
    background-color: $accent-color;
  }
}

.team-list__item {
  width: calc((100% - 60px) / 4);
  margin-right: 30px;
  padding: 0;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: $fone-color;
  &:nth-child(4n) {
    margin-right: 0;
  }
}

