// Colors
$logoblack: #000000;
$accent-color: #2196F3;
$fone-color: #FFFFFF;
$primary-text-color: #212121;
$secondary-text-color: #757575;    
$header-border-color: #ECECEC;
$btn-color: #2196f3;
$btn-color-hover: #188ce8;
$bgr-color: #f5f4fa;
$bgr-icon: #afb1b8;
$footer-bgr-color: #2f303a;
$description-border-color: #eeeeee;
